:root {
  --color-primary: #00A888;
  --color-secondary: #FFAA00;
  --color-primary-darker: #006350; //darker 20%
  --color-primary-lighter: #00ecbf; //lighten 20%
  --color-secondary-darker: #cc8800; //darker 20%
  --color-secondary-lighter: #ffbb32; //lighten 20%

  --color-info : #5D789B;
  --color-success : #00A888;
  --color-warning : #FFAA00;
  --color-danger : #E13D34;
  --color-error : #E13D34;

  --color-default : #333333;
  --color-default-lighter : #666666;
  --color-main-background: #CBCCCC3C;
}
